<html>
<head>
	<title></title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	<div class='logo'></div>
	<div class='grid-container'></div>
		<div class='person'>
			<div class='avtPerson'>
			</div>
			<a href="https://www.google.com">First Clip</a>
			
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
	</div>
</body>
</html>
