<html>
<head>
	<title></title>
</head>
<body>
	<div class='logo'></div>
	<div class='grid-container'></div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
		<div class='person'>
			<div class='avtPerson'></div>
		</div>
	</div>
</body>
</html>